**/.vscode
**/__pycache__
**/.ipynb_checkpoint

# directories
test/
logs/
Chk/
Data/
Res/
basenji
baskerville
baskerville_me
borzoi
westminster
archive/
local/
.history/
figures/

# symbolic links
logs
Chk
Data
Res

# other files
hostfile
*.tsv

# slurm output
*.out

SLDP/
.nfs*
*.bw
*.err

# dot env
.env

# genomespy
.genomespy_temp_*.html
.genomespy_shared/

# pygenometrack
*.ini
*.pdf

# tfmodisco output
meme-5.4.1/
tfm_out/
*.npy

# incomplete pipelines
Analysis/12_ldsc/
Analysis/12_ldsc_archive/
Analysis/12_s_ldsc_continous/.claude/
Analysis/12_s_ldsc_continous/anno*
Analysis/12_s_ldsc_continous/background*
Analysis/12_s_ldsc_continous/partition*
Analysis/12_s_ldsc_continous/results*
Analysis/12_s_ldsc_continous/track_lists/
Analysis/12_s_ldsc_continous/quantile_results_by_trait/
Analysis/13_gchromVAR/
Analysis/example_*.sh
Analysis/14_polyfun/
Analysis/15_GWAS_finemap_interpret/
Analysis/16_alphagenome/
Analysis/17_MAGMA/

# add config files
!logs/full_finetune_original_loss_celltype_head_dim8_linear_full_atlas/overall_setting.yaml
!logs/full_finetune_original_loss_celltype_head_dim8_linear_full_atlas/regression_label_meta.csv
!logs/full_finetune_original_loss_celltype_head_dim8_linear/overall_setting.yaml
!logs/full_finetune_original_loss_celltype_head_dim8_linear/regression_label_meta.csv
!Chk/full_finetune_original_loss_celltype_head_dim8_linear_full_atlas/README.md
!Chk/full_finetune_original_loss_celltype_head_dim8_linear/README.md