**/.vscode
**/__pycache__
**/.ipynb_checkpoint

# directories
test/
logs/
Chk/
Data/
Res/
basenji
baskerville
baskerville_me
borzoi
westminster
archive/
local/
.history/
figures/

# symbolic links
logs
Chk
Data
Res

# other files
hostfile
*.tsv

# slurm output
*.out

SLDP/
.nfs*
*.bw

# genomespy
.genomespy_temp_*.html
.genomespy_shared/
